.listPage {
    display: flex;
    height: 100%;
  }
  
  .listPage .listContainer {
    flex: 3;
    height: 100%;
  }
  
  .listPage .listContainer .wrapper {
    height: 100%;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    overflow-y: scroll;
    padding-bottom: 50px;
  }
  
  .listPage .mapContainer {
    flex: 2;
    height: 100%;
    background-color: #fcf5f3;
  }
  
  /* Media query for 'md' breakpoint */
  @media (max-width: 768px) {
    .listPage .mapContainer {
      display: none;
    }
  }
  